<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('header') %>
  <main>
    <h2>Добро пожаловать</h2>
    <p>Это сайт для управления товарами</p>
  </main>
  <%- include('footer') %>
</body>
</html>
